<form [formGroup]="form">
  <victor-designer-shared-config-item title="标题">
    <input nz-input placeholder="请输入标题" formControlName="title" />
  </victor-designer-shared-config-item>

  <victor-designer-shared-config-item title="企业Logo">
    <input nz-input placeholder="请输入图片地址" formControlName="logoUrl" />
  </victor-designer-shared-config-item>

  <victor-designer-shared-config-item title="展示图">
    <input nz-input placeholder="请输入图片地址" formControlName="companyInfoUrl" />
  </victor-designer-shared-config-item>
</form>