<div class="header">
  <div class="operation">
    <button nz-button nzType="primary" (click)="addComponent()">添加</button>
  </div>
</div>
<div class="content">
  <nz-table #basicTable [nzData]="components" [nzShowPagination]="false">
    <thead>
      <tr>
        <th>名称</th>
        <th>标识</th>
        <th nzWidth="120px">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.title}}</td>
        <td>{{data.type}}</td>
        <td>
          <a (click)="deleteComponent(data)">Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>