div.victor-editor-optional-component {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6eaf0;
  border-radius: 4px;
  height: 36px;
  font-size: 13px;
  background-color: #fff;
  cursor: grab;

  &.sortable-drag {
    margin: 12px 0;
  }

  &:hover {
    border-color: #ccd4e0;
    color: #121315;
    background-color: #F4F6F9;
  }

  &>.title {
    margin-bottom: 0;
  }
}

div#victor-editor-drop-preview {
  position: fixed;
  width: 118px;
  height: 36px;
  border: 1px solid #e6eaf0;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }
}

victor-designer-component-setting-panel {
  .configuration-panel {
    &.hidden {
      display: none !important;
    }
  }
}

victor-designer-page-presentation {

  &.hover {
    &>victor-designer-drop-container {
      border-color: #205DD9;
    }
  }

  &.actived {
    &>victor-designer-drop-container {
      border-style: solid !important;
      border-color: #205DD9 !important;
    }
  }

  victor-designer-drop-container {
    .drop-container {

      &.hidden {
        display: none !important;
      }

      &>.sortable-ghost {
        margin: 0 0 8px;
        // background-color: orange !important;
      }

      .drop-item {
        // &:not(:last-of-type) {
        margin-bottom: 8px;
        // }

        &.sortable-ghost {}
      }
    }
  }
}

victor-drop-item-wrapper {
  &>victor-designer-component-design-wrapper {
    width: 100%;
    height: 100%;
  }
}

victor-designer-component-design-wrapper {
  &>* {
    width: 100%;
    height: 100%;
  }
}