:host {
  position: absolute;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &>div.empty-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;

    &.hidden {
      display: none !important;
    }
  }

  &>div.header {
    display: flex;
    align-items: center;
    padding: 10px 12px 0;

    &>p.title {
      font-size: 16px;
      font-weight: 600;
      color: #494f57;
      margin: 0;
    }
  }

  &>div.content {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }
}