:host {
  display: flex;
  // height: 1px;
  height: 60px;
  background-color: #fff;

  &>.row-item {
    position: relative;
    flex: 1;
    height: 100%;

    &:not(:last-of-type) {
      margin-right: 12px;
    }
  }

}