:host {
  display: flex;
  flex-flow: column;
  color: #fff;

  &>.header {
    display: flex;
    height: 32px;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    color: #868787;
    font-size: 14px;
    font-weight: 500;

    &>.title {
      margin: 0;
    }

    &>.add-btn {
      $s: 20px;
      display: flex;
      width: $s;
      height: $s;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover{
        color: #1890FF;
      }
      // background-color: orange;
    }
  }
}